.x1bt{float: right; border:0; text-transform: uppercase; font-size:15px; color:#fff; padding:3px 8px; margin-left: 5px;font-family: 'Cuprum', sans-serif; width:65px;}
#x1bt{background-position: -124px 0px; width: 22px; height: 20px; margin:10px; float: right; transition:1s all;}
#x1bt1,.x1bt1{    background: #9b9b9b;
    width: max-content;
    padding: 4px 15px;
    border-radius: 5px;}
#x1bt2,.x1bt2{    background: #9b9b9b;
    width: max-content;
    padding: 4px 15px;
    border-radius: 5px;}
.x1i {
    display: block;
    height: 280px;
    border-radius: 4px;
}.x1s {
     border: none;
     padding: 0 10px;
     height: 55px;
     display: flex;
     font-size: 16px;
     align-items: center;
     justify-content: center;
}/*.x1s2{position: absolute; bottom: -40px; font-size:15px; text-transform: inherit; right:25px; color:#666;}*/
.x1s3 {
    display: block;
    padding: 10px 10px 0 10px;}
    .x1s4 {
        color: #000000;
        font-size: 20px;
        text-transform: uppercase;
        float: left;
        font-family: 'Cuprum', sans-serif;
    }
#x1d{display: table; margin-top: 50px;}
#x1d1{border-right:2px solid rgba(255,255,255,.2); display: table-cell; vertical-align: top;border-top:2px solid rgba(255,255,255,.2);background: var(--color-1);}
#x1d2{display: table-cell; vertical-align: top;border-top:2px solid rgba(255,255,255,.2);}
#x1n{transition:1s all; width: 228px; clear: both; overflow: hidden; padding:0 20px 20px;}
.x1s0{ font-weight:bold; font-size:26px; color:#eee; height: 30px; overflow: hidden; margin: 30px 0 10px;}
.x1a{ margin:1px 0; text-decoration:none; color:#4d4a4a; font-size:18px; border-bottom:1px solid #444; padding:10px; }
.x1s0,.x1a{text-transform: uppercase;font-family: 'Cuprum', sans-serif; display:block;}

.x1d {
    padding: 10px 0;
    margin: 20px;
    text-align: center;
    width: 280px !important;
    box-shadow: 0px 0px 11px 7px #e1e1e1;
    background: #eaeef1

;
}
.x1i100{

}