.x6d{display: table; width: 100%;}
.x6r{display: table-row;}
.x6r > div{display: table-cell; vertical-align: middle; padding:10px 20px;font-family: 'Cuprum', sans-serif; color:#ccc; font-size:18px;background:rgba(255,255,255,.2);}
.x6c3{text-align: right; border-right:1px solid rgba(0,0,0,.2); }
.x6e1{background:rgba(100,100,100,.2);}
.x6e{background:rgba(255,255,255,.2);}
.x6c1,.x6c2,.x6c3{ border-bottom:1px solid rgba(0,0,0,.2); }