#x9bt{background-position: -124px 0px; width: 22px; height: 20px; margin:10px; float: right; transition:1s all;}
#x9d{display: table; margin-top: 50px;}
#x9d1{border-right:2px solid rgba(255,255,255,.2); display: table-cell; vertical-align: top;border-top:2px solid rgba(255,255,255,.2);background:rgba(16, 16, 16, 0.35);}
#x9d2{display: table-cell; vertical-align: top;border-top:2px solid rgba(255,255,255,.2);}
#x9n{transition:1s all; width: 228px; clear: both; overflow: hidden; padding:0 20px 20px;}
.x9s0{ font-weight:bold; font-size:26px; color:#eee; height: 30px; overflow: hidden; margin: 30px 0 10px;}
.x9a{ margin:1px 0; text-decoration:none; color:#d53b23; font-size:18px; border-bottom:1px solid #444; padding:10px; text-shadow: 0 0 6px #000;}
.x9s0,.x9a{text-transform: uppercase;font-family: 'Cuprum', sans-serif; display:block;}
