#20191203
RewriteEngine On
RewriteRule ^category/([A-Za-z0-9-]+)/?$ category.php?c=$1 [NC,L]
RewriteRule ^item/([A-Za-z0-9-]+)/?$ item.php?c=$1 [NC,L]
# redirect http to https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://dev.revoise.com/wine/public/$1 [L,R=301] 